.ff-table {
  width: 100%;
}

.ff-table ul {
  margin-block-end: 5px;
}

.ff-tabs {
  margin-top: 30px;
}

.comment_title,
.attribute_title,
.description_title {
  padding-left: 5px;
  text-align: left;
  background-color: #fff;
}

.version_title,
.date_title,
.moc_title,
.repeat_title,
.type_title {
  background-color: #fff;
}

.attributeName_col {
  text-align: left;
  padding-left: 5px;
  min-width: 180px;
  max-width: 250px;
  padding: 5px;
}

.attributeName_col pre {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  display: inline;
  vertical-align: middle !important;
}

.version_col,
.date_col,
.moc_col,
.repeat_col {
  text-align: center;
  min-width: 60px;
}

.type_col {
  text-align: center;
  min-width: 100px;
}

.comment_col,
.description_col {
  text-align: left;
  padding-left: 5px;
  min-width: 200px;
  max-width: 500px;
}

.ff-boldRow {
  font-weight: 600;
}

.ff-table th {
  background: white;
  position: sticky;
  z-index: 1;
  top: 0; /* Don't forget this, required for the stickiness */
}

.ff-table tr:nth-child(odd) {
  background: rgba(57, 75, 88, 0.1);
}

.ff-table td {
  border: 1px solid rgba(57, 75, 88, 0.6);
}

.ff-table thead tr:hover {
  background-color: #fff;
  color: #000;
  transition: color 0.2s ease-in-out;
  transition-delay: 0.1s;
}

.ff-table tr:hover {
  background-color: #394b58;
  color: #fff;
  transition: color 0.2s ease-in-out;
  transition-delay: 0.1s;
}

.ff-table td:hover::before,
.ff-table th:hover::before {
  background-color: rgba(57, 75, 88, 0);
  content: "\00a0";
  height: 100%;
  /*left: -5000px;
  left:90px;*/
  right: 0px;
  position: absolute;
  top: 0;
  width: 10000px;
  z-index: -1;
}

.ff-table td:hover::after,
.ff-table th:hover::after {
  background-color: rgba(57, 75, 88, 0);
  content: "\00a0";
  height: 10000px;
  left: 0;
  position: absolute;
  /*top: -5000px;
  top:0;*/
  bottom: 0px;
  width: 100%;
  z-index: -1;
}

.value-list .list-item {
  text-align: left;
  list-style-type: none;
  margin-bottom: 0;
}

.value-header {
  padding-top: 5px;
}

.ff-showlist {
  position: flex;
  float: left;
  background-color: transparent;
  font-size: 13px;
  color: #000;
  border-bottom: 2px solid #394b58;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  height: 25px;
  margin-bottom: 10px;
  margin-top: -5px;
}

.ff-showlist:hover {
  background-color: #394b58;
  color: #fff !important;
  border-bottom: 2px solid #fff !important;
}

.ff-showlist:focus,
.ff-showlist:active {
  color: #000;
  background-color: transparent;
  outline: none !important;
  -webkit-appearance: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid #394b58;
}

.dl-schema {
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
}
.schema-txt {
  padding-right: 5px;
}
