:root {
  --border-radius: 16px;
  --border: 2px solid #394b58;
}

.offcanvas-end {
  width: 43em;
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  top: 67px;
  height: calc(100vh - 78px);
  box-shadow: 0 0 10px 3px rgba(57, 75, 88, 0.3);
}

.offcanvas-header {
  padding-top: 35px;
  padding-bottom: 0;
}

.offcanvas-header .btn-close {
  position: relative;
  top: -15px;
  z-index: 5;
  transform: rotate(0deg);
  transition: all var(--speed);
}

.offcanvas-header .btn-close:hover {
  transform: rotate(180deg);
  transition: all var(--speed);
  color: #000;
}

.offcanvas-header .btn-close:focus {
  outline: none !important;
  -webkit-appearance: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.dropdown .show {
  z-index: 40;
}

.offcanvas-body {
  padding-top: 0;
  overflow: hidden;
}

.label-layout {
  max-width: 35.3em;
  min-height: 0;
  max-height: calc(100vh - 148px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
}

input[type="checkbox"].form-check-input {
  clip: unset;
  clip-path: unset;
  width: 35px;
  height: 15px;
  border: 2px solid #394b58;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(57, 75, 88,1.0)'/></svg>");
  transition: all 0.3s ease-in-out;
}

input[type="checkbox"].form-check-input:checked,
input[type="checkbox"].form-check-input:checked:focus {
  background-color: #394b58;
  outline: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

input[type="checkbox"].form-check-input:focus {
  outline: none !important;
  -webkit-appearance: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(57, 75, 88,1.0)'/></svg>");
}

.form-check input {
  position: relative;
  min-height: 20px;
}

.form-check label {
  padding-left: 3px;
  padding-top: 2px;
  font-size: 13px;
}

.offcanvas .nav-tabs {
  position: absolute;
  border: 0;
  padding-left: 60px;
  top: 5px;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 0 !important;
  border: 0 !important;
}

.ff-tabs .nav-link,
.offcanvas .nav-link {
  color: #3b4a57;
  font-weight: 500;
  font-size: 15px;
}

.nav-item .nav-link.active:hover {
  background-color: rgba(0, 0, 0, 0.001);
}

.nav-item .nav-link.active {
  font-weight: 700;
  border: 0;
  border-bottom: 4px solid rgba(57, 75, 88, 0.9) !important;
}
