:root {
  --border-radius: 16px;
  --modal-bg: #394b58;
  --border: 2px solid #394b58;
}

.codePreview {
  background-color: #272822;
  color: #ededed;
  border-radius: var(--border-radius);
  width: 48em;
  padding: 5px;
  font-size: 13px;
  font-family: Arial;
  margin-top: 5px;
  margin-bottom: 5px;
}

.codePreview pre {
  background: #272822 !important;
  overflow: auto !important;
  margin: 0;
  min-height: 0;
  max-height: calc(100vh - 210px);
}

.string {
  color: #e6db74;
}
.key {
  color: #f92672;
}
.bracket {
  color: #989898;
}
.number {
  color: #ae81ff;
}
.boolean {
  color: #d0782a;
}
.null {
  color: #d0782a;
}
