table {
  font-size: 13px;
}

thead {
  background: white;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

thead:first-child {
  left: 0;
  z-index: 100;
}

.serviceMatrix-table .service,
.serviceMatrix-table .serviceHeader,
.serviceMatrix-table th.headerTitleEmpty:nth-of-type(1) {
  background: white;
  margin: 0;
  position: sticky;
  left: 0;
  z-index: 1;
}

.serviceMatrix-table td.serviceButton,
.serviceMatrix-table td.code:nth-of-type(2),
.serviceMatrix-table th.headerTitleEmpty:nth-of-type(2) {
  background: white;
  margin: 0;
  position: sticky;
  left: 300px;
  z-index: 1;
}

.serviceMatrix-table td.serviceCode,
.serviceMatrix-table td.code:nth-of-type(3),
.serviceMatrix-table th.headerTitleEmpty:nth-of-type(3) {
  background: white;
  margin: 0;
  position: sticky;
  left: 339px;
  z-index: 1;
}

.serviceMatrix-table th.headerTitle {
  height: 250px; /* header height */
  white-space: nowrap;
  font-weight: 700;
  width: 39px !important;
  cursor: pointer;
  opacity: 1;
}

.serviceMatrix-table th.headerTitle > div {
  /* transform: translate(17px, 130px) rotate(270deg) !important;
  */
  transform: translate(0px, 110px) rotate(270deg) !important;
  width: 39px !important;
}

.serviceMatrix-table th.headerTitle > div > span {
  padding: 10px 10px;
  overflow: hidden;
  text-align: start;
  display: inline-block;
  width: 240px;
}

.serviceMatrix-table .service {
  white-space: nowrap;
  font-weight: 700;
  text-align: right;
  padding-right: 7px;
  height: 39px;
  min-width: 300px;
  max-width: 300px;
  overflow: hidden;
}

.serviceMatrix-table .service .badge {
  margin-right: 10px;
  font-size: 13px;
}

.serviceMatrix-table .service.highlight-cell {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.serviceMatrix-table .headerTitle.highlight-cell {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.serviceMatrix-table .service.highlight-cell,
.serviceMatrix-table .serviceButton.highlight-cell,
.serviceMatrix-table .serviceCode.highlight-cell,
.serviceMatrix-table .headerTitle.highlight-cell,
.serviceMatrix-table .addonCode.highlight-cell {
  background-color: #394b58 !important;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  transition-delay: 0.1s;
}

.serviceMatrix-table td.service {
  border: 0;
}

.serviceMatrix-table td.serviceHeader {
  border: 0;
  font-weight: 700;
  text-align: left;
  padding-left: 5px;
}

.serviceMatrix-table td.serviceHeader:hover,
.serviceMatrix-table td.code:hover,
.serviceMatrix-table th.headerTitleEmpty {
  background-color: #fff !important;
  color: #000 !important;
  cursor: default;
}

.serviceMatrix-table td.serviceButton {
  border: 0;
}

.serviceMatrix-table td.serviceButton:hover {
  background-color: #394b58;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  transition-delay: 0.1s;
}

.serviceMatrix-table td.code {
  border: 0;
  font-weight: 700;
}

.serviceMatrix-table td.serviceCode {
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  text-align: center;
  cursor: default;
}

.serviceMatrix-table td.addonCode {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  height: 39px;
  text-align: center;
  cursor: default;
}

.serviceMatrix-table tr {
  max-height: 39px !important;
}

.serviceMatrix-table td.selected {
  background-color: #394b58;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  transition-delay: 0.1s;
}

.serviceMatrix-table td.service.selected {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.serviceMatrix-table td {
  min-width: 39px;
  min-height: 39px !important;
  max-width: 39px;
  max-height: 39px !important;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.serviceMatrix-table table {
  border-spacing: 0;
  border-collapse: collapse;
  z-index: 1;
}

.row {
  cursor: default !important;
}

.unavailable.highlight-cell {
  background-color: rgba(57, 75, 88, 0.2) !important;
}

.check.highlight-cell {
  background-color: rgba(57, 75, 88, 0.04) !important;
}

.serviceMatrix-table td:hover {
  background-color: #394b58 !important;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  transition-delay: 0.1s;
}

/*
.serviceMatrix-table tbody td:hover {
  background-color: #394b58;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  transition-delay: 0.1s;
}

.serviceMatrix-table thead th:hover {
  background-color: #394b58;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  transition-delay: 0.1s;
}

.serviceMatrix-table tbody td:hover::before {
  background-color: rgba(57, 75, 88, 0.2);
  content: "\00a0";
  height: 100%;
  /*left: -5000px;
  left:90px;*/ /*
  right: 0px;
  position: absolute;
  top: 0;
  width: 1000px;
  z-index: -1;
}

.serviceMatrix-table tbody td:hover::after {
  background-color: rgba(57, 75, 88, 0.2);
  content: "\00a0";
  height: 1000px;
  left: 0;
  position: absolute;
  /*top: -5000px;
  top:0;*/ /*
  bottom: 0px;
  width: 100%;
  z-index: -1;
}

.serviceMatrix-table th:hover {
  background-color: #394b58;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  transition-delay: 0.1s;
}

.serviceMatrix-table td:hover {
  background-color: #394b58;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  transition-delay: 0.1s;
}
.serviceMatrix-table td:hover:first-child {
  background-color: #394b58;
}
.serviceMatrix-table td:hover:nth-child(3n) {
  background-color: #394b58;
}

.serviceMatrix-table th:first-child td:hover {
  background-color: #394b58;
}



.serviceMatrix-table td:hover::before,
.serviceMatrix-table th:hover::before {
  background-color: rgba(57, 75, 88, 0.2);
  content: "\00a0";
  height: 100%;
  /*left: -5000px;
  left:90px;*/ /*
  right: 0px;
  position: absolute;
  top: 0;
  width: 10000px;
  z-index: -1;
}

.serviceMatrix-table td:hover::after,
.serviceMatrix-table th:hover::after {
  background-color: rgba(57, 75, 88, 0.2);
  content: "\00a0";
  height: 10000px;
  left: 0;
  position: absolute;
  /*top: -5000px;
  top:0;*/ /*
  bottom: 0px;
  width: 100%;
  z-index: -1;
}

*/

.serviceMatrix-table td,
.serviceMatrix-table th,
.serviceMatrix-table .row,
.serviceMatrix-table .col {
  cursor: pointer;
  position: relative;
}

.unavailable {
  background-color: rgba(0, 0, 0, 0.04);
}
