.App {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  text-align: center;
}

html,
body {
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 5px;
  overflow: hidden;
}

.container-fluid {
  height: calc(100vh - 78px);
  margin-top: 5px;
  padding: 15px;
  max-width: 1440px !important;
  color: #3b4a57;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
  overflow: none;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
}

.appcontainer {
  padding: 0px 0px 50px 0px;
  height: calc(100vh - 83px);
  z-index: 2;
}

.controls {
  padding: 15px 0px -40px 0px;
  margin: 0;
}

.controls .resetButton {
  margin-top: 5px;
  z-index: 300;
}

.pickupOptions {
  display: flex;
  left: 0;
  z-index: 300;
}

input[type="checkbox"].form-check-input {
  clip: unset;
  clip-path: unset;
  width: 35px;
  height: 15px;
  border: 2px solid #394b58;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(57, 75, 88,1.0)'/></svg>");
  transition: all 0.3s ease-in-out;
}

.controls input[type="checkbox"].form-check-input:checked,
input[type="checkbox"].form-check-input:checked:focus {
  background-color: #394b58;
  outline: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.controls input[type="checkbox"].form-check-input:focus {
  outline: none !important;
  -webkit-appearance: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(57, 75, 88,1.0)'/></svg>");
}

.controls .form-check input {
  position: relative;
  min-height: 20px;
}

.controls .form-check label {
  padding-left: 8px;
  padding-top: 4px;
  font-size: 13px;
}

.filter {
  padding-bottom: 5px;
}

.content {
  padding: 0;
  margin: 0;
}

.MatrixContainer {
  width: 100%;
  height: calc(100vh - 170px);
  overflow: auto;
  margin-top: -80px;
}

.FFContainer {
  width: 100%;
  height: calc(100vh - 250px);
  overflow: auto;
}

.tooltip > div.tooltip-inner {
  font-size: 11px;
  text-align: left;
}

::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

::-webkit-scrollbar {
  width: 22px;
  height: 22px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.lp-copy-sel__option,
.lp-copy-sel__single-value {
  white-space: pre-wrap !important;
  text-align: left;
}
.lp-copy-sel__value-container {
  min-height: 47px !important;
}

.lp-copy-sel__control {
  border-color: blue;
}

.option_header {
  display: inline-block;
  width: 100%;
  font-weight: 700;
}

.group-handle {
  display: inline-block;
  height: 28px;
  position: absolute;
  right: 25px;
  transform: rotate(-90deg);
  transition: all var(--speed);
}

.group-handle svg {
  width: 7px;
  fill: gray !important;
}

.lp-copy-sel__group-heading:hover .group-handle {
  transform: rotate(0deg);
  transition: all var(--speed);
  fill: black !important;
}

.lp-copy-sel__group-heading.menu-collapsed .group-handle {
  transform: rotate(90deg);
  transition: all var(--speed);
}

.lp-copy-sel__group-heading:hover .group-handle svg,
.lp-copy-sel__group-heading.menu-collapsed .group-handle svg {
  fill: black !important;
}

.group-heading-wrapper {
  padding-left: 10px;
  padding-right: 5px;
  width: calc(100% - 10px);
}

.group-heading-wrapper + div {
  display: none !important;
}

.group-heading-wrapper + div.optGroup-collapsed {
  display: block !important;
}

.lp-copy-sel__option {
  padding-left: 25px !important;
}

.option_info {
  font-size: 10px;
}

.option_tag svg {
  display: inline-block;
  width: 2em;
}

.option_tag {
  font-weight: 700 !important;
}

.option_header svg {
  display: inline-block;
  width: 2em;
}

.DepartureCountry {
  border-radius: 16px;
  background-color: hsl(130, 100%, 80%) !important;
}
